<div id="container">
  <div class="touret" id="left"></div>
  <div id="castle">
      <form action="/map">
          Where is your castle? 
          <input type="text" name="castle" />
          <input type="submit" name="submit" value="Go!" />
      </form>
  </div>
  <div class="touret" id="right"></div>
</div>
