<div id="search-bar">
  <form action="/map">
    Search: <input type="text" name="castle" />
    <input type="submit" value="Go!" ?>
  </form>
  <div id="title">
    <div>Castlr | <%= @country.titleize %></div><div id="down-arrow"></div>
  </div>
</div>
<div id="map-container">
</div>
